@{
    ViewData["Title"] = "Home Page";
}
@model  ViewInfo

    <div class="card-group">
        @foreach (var item in Model.userData)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.UserDataDateTime.GetValueOrDefault().DayOfWeek</h5>

                    <p class="card-text lead">The total Percentage for this dat was @item.TotalPercentange</p>
                </div>
                <a url @item.DataId
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        }

    </div>