
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="headFont">Edit Profile</h1>
<form class="otherFont" asp-controller="Home" asp-action="EnterFormData">
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 1) Are you afraid of incliment weather?(1 = Not Afraid at all, 10 = Extremely Afraid)</b></label>
        <select class="form-control" id="exampleFormControlSelect1" name="Question1" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 2) Do you like cold weather?(1 = I love cold weather, 10 = I hate cold weather )</b></label>
        <select class="form-control" id="exampleFormControlSelect2" name="Question2" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 3) Do you like hot weather? (1 = I love hot weather, 10 = I hate hot weather)</b></label>
        <select class="form-control" id="exampleFormControlSelect3" name="Question3" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 4) Are you Afraid of Pollution?(1 = I am not afraid of Pollution at all, 10 = I am extremely afraid of Pollution)</b></label>
        <select class="form-control" id="exampleFormControlSelect4" name="Question4" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 5) Do you have allergies?(1 = I am not allergic to anything, 10 = I have extreme allergies)</b></label>
        <select class="form-control" id="exampleFormControlSelect5" name="Question5" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 6) Are you afraid of a disease outbreak?(1 = I am not afraid of disease outbreak at all, 10 = I am extremely afraid of a disease outbreak)</b></label>
        <select class="form-control" id="exampleFormControlSelect6" name="Question6" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 7) Are you afraid of large crowds?(1 = I am not afraid of large crowds at all, 10 = I am extremely afraid of large crowds)</b></label>
        <select class="form-control" id="exampleFormControlSelect7" name="Question7" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1"><b>Question 8) Are you afraid of getting sick in public?(1 = I am not afraid of getting sick in public at all, 10 = I am extremely afraid of getting sick in public)</b></label>
        <select class="form-control" id="exampleFormControlSelect8" name="Question8" required>
            <option></option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
    </div>


    <div class="form-group">
        <input class="form-control btn btn-primary" type="submit" />
    </div>

</form>