
@{
    ViewData["Title"] = "WelcomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container text-center">
        <img class="mainpagelogo" src="~/img/foresight.png" />
        <div class="speechbubble">
            <h1 class="headFont text-dark">Welcome to Foresight!</h1>
            <div class="lead otherFont text-dark">My name is Anxiety, and I make a risk assessment tailored to your fears! Are you afraid of the Cold, Hot, Disease, Incliment Weather or just a Bad Day if you leave home? Your in the right place!</div>
            <br />
            <a class="btn-lg btn-primary" href="~/Identity/Account/Register">Click Here to Register!</a> or <a class="btn-lg btn-primary" href="~/Identity/Account/Login">Login Here!</a>
        </div>
    </div>

